*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.header{
    top: 0;
    left: 0;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 10vh;
    font-family: 'Rubik Dirt', cursive;
    background: rgb(229, 211, 16);
}
.header .logo{
    max-height: 10vh;
}
.header ul{
    position: relative;
    display: flex;
    flex-direction: row;
}
.header ul li{
    list-style: none;
    margin-right: 30px;
}
.header ul li a{
    text-decoration: none;
    font-size: 1.25em;
    font-weight: 500;
}
.hero-section{
    height: 90vh;
    top: 10vh;
    width: 100%;
    height: 100%;
}
.hero-section video{
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}